/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.gfield_captcha_input_container,
.gfield_captcha_input_container.math_medium input {
    width: 90px !important;
}


body {
  position: relative;
}
.fl-page {
  width: auto;
  overflow: hidden;
}
.fl-content-full.container {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: none;
}
footer .storename a:hover *,
footer a:hover p {
  color: #8bbeb2 !important;
}
.fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
.fl-page-header-fixed .fl-logo-img {
  max-height: 80px !important;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li {
  margin-right: 10px;
}
.uabb-photo-gallery-item .uabb-photo-gallery-content {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 250px;
}
/* .fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li > a{
    text-transform: uppercase;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 16px;
} */
.navbar .nav .menu-item-has-children > a:after {
  margin-top: 0;
  content: "\f107";
  font-size: 150%;
}
.footermenu .menu-item a {
  color: #fbfbfb;
  font-family: Roboto;
  font-size: 12px;
  line-height: 23px;
}
.fl-content-slider
  .fl-content-slider-wrapper
  .fl-slide-text-left
  .fl-slide-foreground {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 8;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.date-class .gform-grid-row {
  margin-top: 0px !important;
}
.gform_legacy_markup_wrapper .gfield_time_hour input[type="number"],
.gform_legacy_markup_wrapper .gfield_time_minute input[type="number"] {
  min-width: 50px !important;
  height: 32px;
}
.gform_legacy_markup_wrapper .gfield_time_ampm select {
  min-width: 63px !important;
  min-height: 27px;
  padding: 0px !important;
}
.topbar-button-overlap {
  position: relative;
}
.topbar-button-overlap .fl-button-wrap .fl-button {
  position: absolute;
  top: -30px;
  z-index: 9;
  width: 100%;
  /* max-width: 130px; */
  left: 0;
}
.topbar-button-overlap .fl-button-wrap .fl-button .fl-button-text span {
  display: block;
  font-size: 14px;
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text {
  float: left;
  font-size: 14px;
  width: 100%;
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text span {
  float: left;
  font-weight: 600;
  letter-spacing: 0.47px;
  line-height: 16px;
  display: flex;
  color: #ffffff;
}

.fl-page-bar
  .fl-page-bar-container
  .fl-page-bar-row
  .fl-page-bar-text
  span
  .storename {
  margin-left: 10px;
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text a {
  color: #fff;
}
ul.storename {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.storename a,
ul.storename a p {
  color: inherit !important;
}
ul.storename a p {
  margin: 0;
}
.fl-module-content-slider .bx-wrapper {
  margin: 0 auto 0px;
}
.brandSlider .uabb-module-content {
  display: flex;
  align-items: center;
}
.bx-pager.bx-default-pager {
  z-index: 1;
  position: absolute;
  bottom: 45px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #ffffff;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: transparent;
  border: 1px solid #ffffff;
}

.fl-col-group .top-slider-bottom-image {
  margin-top: -60px;
}

.home-tab .fl-tabs-panels .fl-tabs-panel p:first-child {
  margin: 0px;
}

.home-tab
  .fl-tabs-panels
  .fl-tabs-panel
  .fl-tabs-panels-info
  .fl-cta-text-content
  h1,
.home-tab .fl-tabs-panels .fl-tabs-panel .fl-callout-text h1,
.home-tab .uabb-tabs .uabb-content-wrap .uabb-content .fl-callout-text h1,
.home-tab .uabb-tabs .uabb-content-wrap .uabb-content .fl-cta-text-content h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 61px;
  line-height: 60px;
}

.home-tab
  .fl-tabs-panels
  .fl-tabs-panel
  .fl-tabs-panels-info
  .fl-cta-text-content
  p,
.home-tab .fl-tabs-panels .fl-tabs-panel .fl-callout-text p,
.home-tab .uabb-tabs .uabb-content-wrap .uabb-content .fl-callout-text p {
  color: #ffffff;
  font-size: 15px;
  line-height: 24px;
  padding-top: 15px;
}
.home-tab .fl-tabs-labels {
  background-color: #603978;
}
.home-tab .fl-tabs-panel .fl-tabs-label,
.home-tab .uabb-tabs .uabb-content-wrap .section .uabb-tab-acc-title {
  background-color: #603978;
  border-bottom: 1px solid #fff;
}
.home-tab .fl-tabs-panel:last-child .fl-tabs-label,
.home-tab
  .uabb-tabs
  .uabb-content-wrap
  .section:last-child
  .uabb-tab-acc-title {
  border-bottom: 0;
}

.home-page-second-slider .fl-slide-text-left .fl-slide-foreground {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-page-second-slider
  .fl-slide-text-left
  .fl-slide-foreground
  .fl-slide-photo-wrap {
  order: -1;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap {
  float: right;
  margin: 100px auto;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap
  .fl-slide-content {
  margin: 0;
  background: #ffffff;
  padding: 60px;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap
  .fl-slide-content
  h2 {
  color: #323232;
  font-size: 29px;
  font-weight: 600;
  line-height: 28px;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  p:first-child {
  color: #000000;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  .btn {
  border-radius: 3px;
  background-color: #603978;
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  padding: 17px 30px;
  text-align: center;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  h3 {
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.97px;
  line-height: 20px;
  margin-bottom: 0px !important;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  h1 {
  color: #ffffff;
  font-size: 51px;
  line-height: 60px;
  margin-bottom: 0px !important;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.paint-stains-bottom-sec-info .fl-module-content {
  padding: 40px 52px 40px 60px;
  background: #ffffff;
}

.paint-stains-bottom-sec-info .fl-module-content .fl-rich-text p {
  color: #000000;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  .btn {
  border-radius: 3px;
  background-color: #603978;
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  padding: 17px 30px;
  text-align: center;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  .btn:focus,
.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  .btn:hover {
  background: #efefef;
  color: #000000;
}

.slider-menu {
  display: none;
}
.home-tab .fl-tabs-horizontal .fl-tabs-labels {
  text-align: center;
}
.home-tab .fl-tabs-horizontal .fl-tabs-labels .fl-tabs-label {
  float: none;
  display: inline-block;
  vertical-align: top;
}
.fl-tabs-panel .fl-tab-active .fas:before {
  content: "\f068";
}
.store-container > div {
  margin-bottom: 20px;
}

.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
  padding: 15px 15px;
  display: block;
  text-align: center;
  max-width: 220px;
  background: #603978;
  border: 2px solid #603978;
  border-radius: 5px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}
.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button:hover {
  background: #fff;
  color: #603978;
  border-color: #603978;
}
.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button:hover span {
  color: #603978;
}

.gform_wrapper select {
  padding: 7px 0px !important;
  background-color: #fcfcfc;
  border: 1px solid #e6e6e6;
}
.gform_wrapper .gform_body .gform_fields .gfield_checkbox li input,
.gform_wrapper
  .gform_body
  .gform_fields
  .gfield_checkbox
  li
  input[type="checkbox"],
.gform_wrapper .gform_body .gform_fields .gfield_radio li input[type="radio"] {
  margin-top: 0 !important;
}
.gform_wrapper .gform_body .gform_fields .gfield .gfield_time_ampm select {
  width: auto !important;
  max-width: none !important;
}
.gform_wrapper
  .gform_body
  .gform_fields
  .gfield
  .ginput_container_date
  .datepicker {
  width: 100%;
}

.product-variations .slick-slider .slick-arrow {
  top: 25%;
}
.product-detail-layout-4 .button-wrapper,
.product-detail-layout-5 .button-wrapper {
  text-align: left;
}

.storename .direction a.fl-button {
  background: #8bbeb2;
  border: 1px solid #8bbeb2;
  color: #fff;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-width: 300px;
  width: auto;
  text-align: center;
  padding: 20px 40px;
  border-radius: 4px;
  letter-spacing: 5px;
}
.storename .direction a.fl-button:hover,
.storename .direction a.fl-button:focus,
.storename .direction a.fl-button:active {
  background: #323232;
  border-color: #323232 !important;
  color: #fff !important;
}
.storename .direction a.fl-button:hover .button-text,
.storename .direction a.fl-button:focus .button-text,
.storename .direction a.fl-button:active .button-text {
  color: #fff !important;
}

footer .fl-module-icon .fl-icon-text p,
.fl-module-info-box .storename .address p {
  margin: 0;
  padding: 0;
}
.fl-module-info-box .storename .store-container > div {
  margin-bottom: 10px;
}
.fl-module-info-box .storename .store-container > div:last-child {
  margin-bottom: 0px;
}

/* #wpadminbar{ display: none;} */
.gm-style .storename {
  text-align: center;
}
.gm-style .store-container > div {
  margin: 0 0 10px;
}

.paintTabs .fl-tabs-label {
  background: transparent;
}
.paintTabs .fl-tabs-panel-content > p {
  margin: 0;
}
.paintTabs .fl-tabs-labels {
  display: flex;
  justify-content: center;
  text-align: center;
}
.facet_filters .facet-wrap > strong {
  padding-bottom: 3px;
  border-bottom: 2px solid #603978;
}
.facet_filters strong {
  font-size: 16px;
  color: #603978;
  display: block;
  margin: 0 0 10px;
}
.product-detail-layout-6 .product-colors ul li,
.product-detail-layout-6 .product-colors ul li.found {
  margin-right: 5px;
}
.paintTabs .fl-tabs-panel .fl-tabs-panel-label.fl-tabs-label.fl-tab-active {
  background: #603978;
}
/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "YOUR SELECTION";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #603978;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #603978;
  padding: 5px 5px 5px 0px;
}

.facetwp-selections ul {
  padding-bottom: 20px;
  padding-left: 0;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.facetwp-selections ul li .facetwp-selection-value {
  font-size: 14px;
  color: #000000;
}
.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #8bbeb2;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #603978 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600 !important;
  letter-spacing: 2 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #4c0777 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #4c0777 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #603978 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #4c0777 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #4c0777 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #603978 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600 !important;
  letter-spacing: 2 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #4c0777 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #603978 !important;
}

.mobile-view-header {
  display: none;
}

.fl-page-nav-search {
  order: 1;
}
.rmp-container .rmp-menu-wrap .rmp-menu .rmp-submenu .rmp-menu-item-link {
  height: auto !important;
  line-height: 1.4 !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.facetwp-selections ul:before,
div#mm-product-list .product-list-container .facet_filters strong {
  border-bottom: 2px solid #603978 !important;
  color: #603978 !important;
}

.fl-node-zn39qghkty50 .uabb-photo-content .uabb-photo-img {
  max-height: 100px;
}
a.linkcustompdpbtnlink.d-block {
  margin: 10px 0px;
}
.product-grid.btn-grey > h4 > span,
.product-grid.btn-grey .product-variations1 > h5 {
  font-size: 14px;
}
div#mm-product-details .product-detail-layout-6 .button-wrapper a {
  color: #fff !important;
  background-color: #603978 !important;
}
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover {
  color: #fff !important;
  background-color: #8224e3 !important;
}
.store-opening-hrs-container .store-opening-hrs {
  padding-left: 0;
}
.store-opening-hrs-container .store-opening-hrs li {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px;
}
.featured-products
  .featured-product-list
  .featured-product-item
  .prod-img-wrap
  .button-wrapper
  .button.fea-coupon_btn {
  display: none;
}
.button-wrapper a.button {
  text-transform: uppercase !important;
}
.iscwp-gallery-slider .slick-dots li button {
  border: 2px solid #8d2529;
}
html.firefox .bx-wrapper .bx-loading {
  display: none;
}
html.firefox .fl-content-slider .bx-wrapper .fl-slide {
  visibility: visible;
}
.iscwp-gallery-slider .slick-dots li.slick-active button {
  background: #8d2529 !important;
}
.iscwp-image-fit.slidestoshow-5 .iscwp-img-wrp {
  height: auto;
}
.product-detail-layout-5 .product-variations {
  margin-top: 0px !important;
}

.FloorteBtn p a {
  color: #603978;
  font-weight: bold;
}

.fl-archive .fl-archive-title {
  margin-left: 15px;
}

footer ul li a {
  color: #ffffff;
}
footer ul#menu-copyright-bar-menu li a {
  color: #000000;
}
footer ul li a:hover,
footer ul li.current-menu-item a {
  color: #8bbeb2 !important;
}

body .fl-page-header-primary .fl-logo-img {
  height: 120px !important;
}
.container .row .product-detail-layout-6 #product-images-holder > div {
  background-size: cover !important;
}

#globalform select.large.gfield_select {
    padding: 12px !important;
}
.fl-post-image-beside,
.fl-post-image-beside img {
  width: 100%;
  max-height: 500px;
}

.fl-content.fl-builder-content {
  margin-right: 50px;
  margin-left: 50px;
}

li#responsive-menu-item-426554 {
  margin-right: 30px;
}

#responsive-menu-container
  #responsive-menu
  ul.responsive-menu-submenu
  li.responsive-menu-item.rugs_product_link
  a {
  padding-left: 60px;
}

ul#menu-locations > li > a {
    padding-bottom: 0px;
}
ul#menu-locations > li > ul.storename .phone a {
    padding-top: 0px;
}
ul#menu-locations > li > ul.storename .phone a:hover * {
    color: #000000;
}

ul#menu-locations > li {
    text-align: left;
}
ul#menu-locations > li > ul.storename .phone a span:before {
    content: "\f095"; 
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
}

/* Media Queries */
@media (min-width: 768px) {
  .fl-archive .fl-post .row,
  .fl-archive .fl-post .fl-post-image-beside {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .fl-page-header .fl-page-header-row > .fl-page-header-logo {
    display: none !important;
  }
}

@media (max-width: 1240px) {
  .fl-page-nav-right .fl-page-nav ul.navbar-nav > li {
    margin-right: 0;
  }
  .fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1199px) {
  .fl-page-header .fl-page-header-row > .fl-page-header-logo {
    display: none !important;
  }
  .fl-page-header .fl-page-header-row > .fl-page-header-logo:first-child {
    display: block !important;
  }
  .fl-page-header.fl-page-header-fixed {
    display: none !important;
  }
}
@media (max-width: 1099px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .fl-page-bar .fl-page-bar-text {
    display: flex;
    justify-content: space-between;
  }
  .fl-page-bar .fl-page-bar-text .col-md-3,
  .fl-page-bar .fl-page-bar-text .col-md-5 {
    width: auto;
    text-align: center;
  }

  .storename .direction a.fl-button {
    min-width: auto;
    max-width: 100%;
  }
}
@media (max-width: 999px) {
  .fl-page-nav-wrap {
    border: 0;
  }
  .fl-page-header .fl-page-header-logo-col {
    width: 100%;
  }
  .fl-page-header .fl-page-header-logo-col .fl-page-header-logo {
    text-align: center;
  }

  .fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text {
    font-size: 12px;
    display: block;
  }
}

@media (max-width: 1024px) {
  #rmp_menu_trigger-1134051 {
    top: 100px;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  #menu-footer-menu li a {
    padding-left: 10px;
    padding-right: 10px;
  }
  #rmp-menu-wrap-1127991 .rmp-submenu .nav-link {
    height: 40px;
    line-height: 40px;
    letter-spacing: 0px;
    font-size: 13px;
    border-bottom: 1px solid #3f3f3f;
    font-family: inherit;
    font-weight: 400;
    color: #fff;
    text-align: left;
    background-color: #323232;
  }

  .desktop-view-header {
    display: none;
  }
  .mobile-view-header {
    display: block;
  }
  .mobile-view-header .storename {
    margin-bottom: 0px;
  }
  .mobile-view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-view-header > .storename {
    max-width: 50%;
  }
  .mobile-view-header .inline_address {
    margin-bottom: 0 !important;
  }
  .fl-page-bar-row .top-bar-nav {
    display: none;
  }
  .mobile-view-header .inline_address a,
  .mobile-view-header .phone a {
    padding-left: 15px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
  }
  .mobile-view-header .inline_address a:before,
  .mobile-view-header .phone a:before {
    position: absolute;
    left: 0px;
  }
  .mobile-view-header .inline_address a:before {
    content: "\f041";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }
  .mobile-view-header .phone a:before {
    content: "\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }
  #rmp_menu_trigger-1134051 {
    top: 95px;
  }

  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
  .fl-page-content .fl-module-content.fl-node-content *,
  .fl-page-content .fl-module-content.fl-node-content ul.storename * {
    text-align: center;
  }
  .fl-page-content .fl-module-content.fl-node-content ul *,
  .fl-page-content .fl-module-content.fl-node-content ol *,
  .fl-page-content .facet_filters *,
  .fl-page-content .text_left_content .fl-module-content.fl-node-content ul *,
  .fl-page-content .text_left_content .fl-module-content.fl-node-content *,
  .fl-page-content .fl-module-content.fl-node-content .fl-tabs-label * {
    text-align: left;
  }
  #rmp-menu-wrap-1134051 .rmp-submenu .nav-link {
    height: 40px;
    line-height: 40px;
    letter-spacing: 0px;
    font-size: 13px;
    border-bottom: 1px solid #3f3f3f;
    font-family: inherit;
    font-weight: 400;
    color: #fff;
    text-align: left;
    background-color: #323232;
    padding-left: 15%;
    display: block;
  }
}
@media (max-width: 840px) {
  .fl-page-bar .fl-page-bar-container .fl-page-bar-row .col-sm-6 {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0;
  }
  .fl-col-small,
  .fl-col-small:not(.fl-col-small-full-width) {
    max-width: 100%;
  }

  .facet_filters {
    position: static;
    width: auto;
    box-shadow: none;
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }
  .facetwp-per-page,
  .facetwp-pager {
    text-align: right !important;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: left !important;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: auto !important;
    text-align: center;
  }

  .fl-builder-content-97052 .fl-node-5d7f5495decba.fl-col > .fl-col-content {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  .fl-builder-content-97052 .fl-col[data-node] .fl-col-content {
    margin: 0px;
  }
  .fl-builder-content-97052 .fl-node-5dcd4d63babf0 img {
    padding: 0 20px;
  }
  .fl-builder-content-97052
    .fl-node-5d7f5495deccd.fl-row
    > .fl-row-content-wrap {
    padding-bottom: 30px;
  }
  .fl-builder-content-97052
    .fl-node-5d7f5495decc9.fl-row
    > .fl-row-content-wrap {
    margin-top: -49px !important;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decd6 > .fl-module-content,
  .fl-builder-content-97052 .fl-node-5d7f5495dece3 > .fl-module-content {
    margin-top: 20px !important;
  }
  .fl-builder-content-97052
    .fl-node-5dcd4a3e3035b.fl-module
    > .fl-module-content {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc5 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decba > .fl-col-content {
    margin-right: 10px;
    margin-left: 10px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decba {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
  }
  .fl-builder-content-97052
    .fl-node-5d7f5495decb6.fl-row
    > .fl-row-content-wrap {
    padding-top: 0px;
  }
  .fl-builder-content-97052 .fl-row[data-node] .fl-row-content-wrap {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .fl-builder-content-97052
    .fl-node-5d83277bab2cd.fl-module
    > .fl-module-content {
    margin-top: 30px;
    padding: 0px 20px;
  }
  .fl-builder-content-97052 .fl-visible-desktop-medium {
    display: none;
  }
  .fl-builder-content-97052 .fl-visible-mobile {
    display: block;
  }
  .fl-builder-content-97052
    .fl-col-group-custom-width.fl-col-group-responsive-reversed
    .fl-node-5d7f5495decd8 {
    flex-basis: 100%;
  }
  .fl-builder-content-97052
    .fl-col-group-custom-width.fl-col-group-responsive-reversed
    .fl-node-5d7f5495decd9 {
    flex-basis: 100%;
  }
  .fl-builder-content-97052
    .fl-col-group-responsive-reversed
    .fl-col:nth-of-type(1) {
    -webkit-box-ordinal-group: 12;
    -moz-box-ordinal-group: 12;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .fl-builder-content-97052
    .fl-col-group-responsive-reversed
    .fl-col:nth-of-type(2) {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decd8.fl-col > .fl-col-content {
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc0 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
    text-align: center;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc1 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc1.fl-col > .fl-col-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495dece2 > .fl-module-content {
    margin: 20px 0 !important;
  }
  .product-detail-layout-6 .imagesHolder #roomvo {
    width: 100% !important;
    padding-bottom: 0;
    left: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
  }
}

@media (max-width: 767px) {
  .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile.fl-page-nav-centered-inline-logo
    .fl-page-header-logo {
    text-align: center;
  }
  .fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text span {
    justify-content: center;
    float: none;
  }
  .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile
    .fl-page-header-logo {
    margin-right: 0;
    padding: 0 45px;
  }

  #djcustom-footer .menu {
    text-align: center;
    display: block;
  }
  #djcustom-footer .menu li {
    display: inline-block;
    vertical-align: top;
  }
  .product-grid .getcoupon-btn,
  .product-grid.btn-grey > .fl-button {
    margin: 0 20px !important;
  }
  .home-tab .fl-tabs-panels .fl-tabs-panel .fl-tabs-panels-info .fl-cta-title,
  .home-tab
    .fl-tabs-panels
    .fl-tabs-panel
    .fl-module-callout
    .fl-callout-title {
    padding: 0;
    font-size: 30px;
    line-height: 1.25;
  }
  .home-tab
    .fl-tabs-panels
    .fl-tabs-panel
    .fl-tabs-panels-info
    .fl-cta-text-content
    p,
  .home-tab .fl-tabs-panels .fl-tabs-panel .fl-module-callout p {
    padding: 0;
  }
  .home-tab
    .fl-tabs-panels
    .fl-tabs-panel
    .fl-tabs-panels-info
    .fl-cta-text-content
    h1,
  .home-tab .fl-tabs-panels .fl-tabs-panel .fl-callout-text h1 {
    font-size: 35px;
    line-height: 1.2;
    margin: 15px 0 10px;
  }

  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-per-page,
  .facetwp-pager {
    float: none;
  }
  .facetwp-per-page,
  .facetwp-pager,
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: center !important;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
  }

  #djcustom-footer #menu-footer-menu,
  #djcustom-footer #menu-footer-menu li {
    display: block;
    text-align: left;
  }
  #djcustom-footer #menu-footer-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .paintTabs .fl-tabs-panel .fl-tabs-panel-label.fl-tabs-label,
  .paintTabs .fl-tabs-panel .fl-tabs-panel-label.fl-tabs-label.fl-tab-active {
    background: #603978;
  }
  .paintTabs .fl-tabs > .fl-tabs-labels {
    display: none;
  }
}
@media (max-width: 699px) {
  .active-gallery-modal .product-box .fl-button {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }

  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media all and (max-width: 520px) {
  #responsive-menu-container
    #responsive-menu
    ul.responsive-menu-submenu
    li.responsive-menu-item.rugs_product_link
    a {
    padding-left: 40px;
  }
}
@media (max-width: 499px) {
  .fl-page-bar .fl-page-bar-text {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
  .mobile-view-header {
    width: 50%;
    float: left;
  }
  .mobile-view-header {
    flex-direction: column;
  }
  .mobile-view-header > .storename {
    max-width: 95%;
  }
  .mobile-view-header br {
    height: 0;
    display: none;
  }
  #rmp_menu_trigger-1134051 {
    top: 110px;
  }
}
@media (max-width: 420px) {
  .gform_wrapper div.ginput_container > div {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform-origin: 0 0;
  }
}
@media (max-width: 379px) {
  .gform_wrapper div.ginput_container > div {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
  }
}
